h2{
    /* Captable information */

position: absolute;
width: 570px;
height: 81px;
left: 577px;
top: 340px;

font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 81px;
/* identical to box height, or 135% */
letter-spacing: -0.45px;

color: #878787;


}

h1{
    /* Coming Soon */

position: absolute;
width: 635px;
height: 169px;
left: 566px;
top: 433px;

font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 100px;
line-height: 81px;
/* or 81% */
letter-spacing: -0.45px;

color: #000000;


}